*.pyc
*#
.#*
__pycache__/*
.DS_Store
*_venv
*.diff
nosetests.xml
.idea/*
*.egg
*.egg-info/*
.filing_cache
.xbrl_rss_cache
www.sec.gov
dist/*
dqc_commands.sh
tests/gen_test_case_results*
*.code-workspace
*.vscode/
*/[0-9][0-9][0-9][0-9]/functions.xule
*/[0-9][0-9][0-9][0-9]/version.xule
*/source/us/201[4-7]
*/dqc*201[4-7]*14-ruleset.zip
*/taxonomy/
*api.http
*generate-qname.sh
*/source/esef
