*.pyc
*#
.#*
__pycache__/*
.DS_Store
*_venv
*.diff
nosetests.xml
.idea/*
*.egg
*.egg-info/*
.filing_cache
.xbrl_rss_cache
www.sec.gov
dist/*
.github/workflows*
dqc_us_rules/build*
dqc_commands.sh
tests/gen_test_case_results*
*code-workspace
*settings.json
*tasks.json
*/202[0-9][0-9]/functions.xule
*/202[0-9][0-9]/version.xule
*esef*/version.xule
*/source/*/201[4-9]
*/source/us/202[0-2]
*/source/ifrs/202[0-2]
*/dqc*201[4-9]*-ruleset.zip
*/dqc-us-202[0-2]*-ruleset.zip
*/dqc-ifrs-202[0-2]*-ruleset.zip
*api.http
*generate-qname.sh
test-V17-0126.sh
sqlTests
tests/esef
tests/v18
plugin/
/guidance
/rule-flowcharts
/build
/docs/useful.sql
dqc_us_rules/dqcrt_EDGAR_con_compile.sh