.travis.yml
License.md
compare.py
requirements.txt
rulesetMap.json
travis-run.sh
usage*.md
test-V17-0126.sh
dqc_commands.sh
*.code-workspace
*.vscode/
*api.http
*generate-qname.sh
aniso8601/
plugin/
tests/
sqlTests/
*/resources/ 
*/source/ifrs/
*/source/us/
*/taxonomy/
*/dqc-ifrs*ruleset.zip
*/dqc-us*ruleset.zip
*/esef-[0-9][0-9][0-9][0-9]/functions.xule
*/esef-[0-9][0-9][0-9][0-9]/version.xule