language: python
python:
  - "3.4"
# command to install dependencies
install: 
  - pip install -r requirements-dev.txt
  - pip install regex
# command to run tests
script: 
  - nosetests tests
  - flake8 dqc_us_rules tests
  - travis_wait 45 ./run_integration.sh
