language: python
python:
  - "3.4"
# command to install dependencies
install:
  - pip install regex
  - pip install -r requirements-dev.txt

# command to run tests
script: 
  - nosetests tests
  - flake8 dqc_us_rules tests
  - travis_wait 45 ./run_integration.sh
