include requiements*.txt
include *.md
recursive-include dqc_us_rules *.py
graft dqc_us_rules/resources
graft dqc_us_rules/util/
prune docs
prune tests
include dqc_us_rules/util/*.json
recursive-include dqc_us_rules/resources *.csv
