lxml==4.6.3
isodate==0.6.0
aniso8601==9.0.1
openpyxl==3.0.7
holidays==0.11.1
regex
tabulate
numpy==1.21.0
pyparsing==2.4.7
-e git+https://git@github.com/arelle/arelle.git@15dff6cbbaeb80900dbc9d7cdb7e789a1a38856a#egg=Arelle